svg {
	fill: inherit;
}

ion-tabs > div.tabs {
	position: static;
}

/* ion-content > div { */
/* 	height: 100%; */
/* } */

md-tab-item.md-tab {
	overflow: visible;
}

#openBB-icon {
	width:250px;
	height:250px;
	margin:-40px;
}

h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.md-subheader .md-subheader-inner {
	padding: 0px;
}

md-list-item > p, 
md-list-item > .md-list-item-inner > p, 
md-list-item .md-list-item-inner > p,
md-list-item .md-list-item-inner > .md-list-item-inner > p {
	text-align: start; 
	-webkit-user-select : none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	-webkit-user-select: none;
	/* Likely future */
}

md-list-item.paired-device,
md-list-item.devices .md-list-item-inner {
	display: block;
}

md-list-item.paired-device {
	padding: 8px 16px;
}

md-list-item p.meta-title {
	font-weight: 500;
}

md-list-item.paired-device p.meta-data {
	float: left;
	font-size: smaller;
}

md-list-item:not(.paired-device) p.meta-data {
	float: left;
	font-size: x-small;
	margin-top: -6px;
	line-height: 1;
}

#paring-dialog {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#paring-dialog > md-progress-circular {
	z-index: 99;
}

md-list-item.md-no-proxy.flex-none {
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	box-sizing: border-box;
}