<md-toolbar md-scroll-shrink ng-if="true" id="history-toolbar" class="md-menu-toolbar md-whiteframe-2dp">
	<div class="md-toolbar-tools">        
		<md-input-container>
			<md-select placeholder="Sort" ng-model="historyCtrl.sortingMethod">
				<md-option value="Desc">Descending</md-option>
				<md-option value="Asc">Ascending</md-option>
			</md-select>
		</md-input-container>
        
        <span flex></span>
		
		<md-menu md-position-mode="target-right target">
			<md-button aria-label="Open Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<md-icon style="fill: rgb(33,150,243);" md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon>
			</md-button>

			<md-menu-content width="4">
				<md-menu-item ng-repeat="setting in historyCtrl.settings">
					<md-button ng-click="ctrl.announceClick($index)">
						<div layout="row">
							<p flex>{{setting.title}}</p>
							<md-icon md-menu-align-target md-svg-icon="{{setting.icon}}" style="fill: rgb(33,150,243); margin: auto 3px auto 0;"></md-icon>
						</div>
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>

<md-card ng-repeat="record in historyCtrl.records">
	<md-card-title>
		<md-card-title-text>
			<span class="setting-headline">{{record.lift}}</span>
			<span class="md-subhead">{{record.date}}</span>
		</md-card-title-text>
	</md-card-title>
	
	<md-card-content>
		<p ng-repeat="velocity in record.velocities track by $index">
			<span>{{velocity}}</span>
		</p>
	</md-card-content>
</md-card>