<h2 
	ng-if="historyCtrl.showDayHeader(this)"
	ng-repeat-start="record in historyCtrl.records | orderBy:historyCtrl.sortingMethod + 'moment' track by record._id"
>
	{{ record.month }},&nbsp;{{ record.monthDay }}
</h2>
			
<div flex="none" class="history-card-container" ng-repeat-end>
	<md-card class="history-card" ng-style="cardWidthAdjust" 
		ng-class="{'by-month' : historyCtrl.isMonthView(), 'by-day' : historyCtrl.isDayView()}" 
		ng-click="historyCtrl.showSetModal(record, $index, $event)
	">
		<md-card-title>
			<md-card-title-text>
				<span class="historic-headline">{{record.lift === '' ? 'N/A' : record.lift}}</span>
				<span class="md-subhead historic">&#8226;&nbsp;&nbsp;Weight:&nbsp;{{record.weight === 'undefined' ? 'N/A' : record.weight}}</span>
				<span class="md-subhead historic">&#8226;&nbsp;&nbsp;Reps:&nbsp;{{record.rep.length}}</span>
				<span class="md-subhead historic">&#8226;&nbsp;&nbsp;RPE:&nbsp;{{record.RPE === 'undefined' ? 'N/A' : record.RPE}}</span>
			</md-card-title-text>
		</md-card-title>
	</md-card>
	
<!-- 	<md-checkbox -->
<!-- 		ng-show="historyCtrl.selectingItems"  -->
<!-- 		ng-model="record.selected"  -->
<!-- 		ng-change="historyCtrl.recordSelectChange(record, $index)" -->
<!-- 		class="selectbox"  -->
<!-- 		aria-label="Select Record"> -->
<!-- 	</md-checkbox> -->
</div>
