<md-toolbar id="select-toolbar" ng-if="historyCtrl.selectingItems" class="md-menu-toolbar" style="position: fixed;">
	<div class="md-toolbar-tools">
		<md-button aria-label="Cancel" class="md-icon-button" ng-click="historyCtrl.clearSelection()">
			<md-icon style="fill: rgb(255, 255, 255);" md-svg-icon="img/icons/close.svg"></md-icon>
		</md-button>
		
		<h2>
			<span>{{historyCtrl.getNumSelected() > 0 ? historyCtrl.getNumSelected() : 'Select items'}}</span>
		</h2>
		
		<span flex></span>
		
		<md-button ng-if="historyCtrl.getNumSelected() > 0" aria-label="Delete" class="md-icon-button" ng-click="historyCtrl.confirmDelete()">
			<md-icon style="fill: rgb(255, 255, 255);" md-svg-icon="img/icons/delete.svg"></md-icon>
		</md-button>
	</div>
</md-toolbar>